@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", system-ui, sans-serif;
  --font-inter: "Inter", system-ui, sans-serif;
  --color-azul: #0050cf;
  --color-gris: #e9ecf2;
}

@layer base {
  body {
    margin: 0;
    font-family: var(--font-poppins);
    color: #000;
    background: #fff;
  }
}
